:root {
    --bg: #000000;
    --accent: #f59e0b;
    --muted: #ffffff;
    --realse: white;
    --colorPrincipal: #138D75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: Inter, system-ui, Arial, sans-serif;
    background: rgb(255, 255, 255);
    color: #0073ff;
    line-height: 1.6;
    overflow-x: hidden
}

/* Decoraci[on section 1 */

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease;

}

section.visible {
    opacity: 1;
    transform: translateY(0)
}

.s1{
    background-image: url(images/pareja1.jpeg);
    border-radius: 0px 0px 400px 400px; 
    background-size: cover;
}

.s1 img{
    width: 100%;
    height: 100%;

}

.blur-negro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px; 
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    filter: blur(20px); 
    pointer-events: none; 
    border-radius: 0px 0px 400px 400px; 
}

/* Decoraci[on section 2 */

.s2{
    background-color: var(--colorPrincipal);
    margin-top:-15vh;
    position: relative;
    z-index: -1;
    border-radius: 400px 400px 400px 400px; 
    color: white;
     overflow: hidden;
}

.s2::before {
    content: "";
    position: absolute;
    top: 5px;     /* distancia desde arriba */
    left: 5px;    /* distancia desde la izquierda */
    right: 5px;   /* distancia desde la derecha */
    bottom: 5px;  /* distancia desde abajo */
    border-radius: 400px 400px 400px 400px; /* ligeramente menor que la sección */
    border: 5px solid white;       /* línea blanca interna */
    box-sizing: border-box;
    pointer-events: none;
}


.s2 h4{
    margin-top: -4vh;
    font-weight: lighter;
    font-size: 5vh;  
}

.s2 h1{
    font-weight: 100;
    font-size: 14vh;
    font-family: "Great Vibes";
    line-height: 0.3;
}

.s2 p{
    margin-top: 2vh;
    font-weight: 400;   
    font-weight: lighter;
    font-size: 2.5vh;
    font-family: "Zain", sans-serif;
    padding: 5vh;
    line-height: 1;
}

/* Decoración section 2 Carta de Fecha */
.cardDate {
    width: 90%;            /* ancho del card */
    text-align: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin-bottom: 5px;
}



.imgCard{
    width: 180;          /* tamaño máximo de la imagen */
    height: 300px;
    margin: 0 auto 25px;  /* centrada horizontalmente */
    overflow: hidden;     /* recorta la imagen si es más grande */
    border-radius: 25px;   /* opcional: circular */
}

.imgCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;    /* mantiene proporciones y recorta si es necesario */
    display: block;
    object-position: center ;
    
}

.infoCard{
    width: 80%;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 40px 40px 130px 130px;
    left: 0;
    right: 0;
    margin-inline: auto;
    color: red;
    margin-top: -8vh;
    position: absolute;
    z-index: 2;
}

.infoCard .title-card{
    text-align: left;
    display: block;
    font-size: 2vh;
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    background-color: var(--colorPrincipal);
    border-radius: 1vh;
    text-align: center;
    align-items: center; 
    justify-content: center;
    display: flex;
    padding: 1vh;
}

.infoCard .title-card span{
    padding-left: 5px;
    font-family: "Zain", sans-serif;
}


.calendar-landscape {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 auto 20px;
  margin-top: 1vh;
}

.date-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.weekday {
  font-size: 16px;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
}

.day-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
}

.day {
  font-size: 42px;
  font-weight: 700;
  color: #333;
}

.month {
  font-size: 16px;
  font-weight: 500;
  color: var(--accent);
  text-transform: uppercase;
}

.year-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year {
  font-size: 14px;
  color: #666;
}

.time {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-top: 2px;
}






